<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Congratulations! You have successfully made an exchange offer.</p>
    <a href="/userpageafterlogin">Go Back to Home</a>
    
</body>
</html>