<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>
    <p>LOGIN FORM</p>
    <form action="/userlogin" , method ="POST">
        <label>EMAIL</label>
        <input type ="text" id="EMAIL" name="EMAIL">
        <label>Password</label>
        <input type="password" id="PASSWORD" name ="PASSWORD">
        <button>Submit</button>
    </form>
    <a href="/userSignUpform">Not signed up? Sign Up!</a>
</body>
</html> -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Bookshop Login</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Merriweather';
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background: url(css/bg3.jpg);
        }

        main {
            width: 300px;
            padding: 20px;
            border-radius: 10px;
            border: 2px solid white;
            background-color: transparent;
            backdrop-filter: blur(30px);
            position: relative;
        }

        main header {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            padding: 10px 20px;
            background-color: beige;
            border-radius: 0 0 10px 10px;
        }

        form {
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        input[type="text"],
        input[type="password"] {
            padding: 10px;
            border: 2px solid white;
            width: 100%;
            border-radius: 25px;
            outline: none;
            background-color: transparent;
            color: white;
        }

        .form-design {
            position: relative;
            display: flex;
            align-items: center;
        }

        label {
            position: absolute;
            left: 30px;
            text-align: center;
            font-size: 12px;
            color: white;
            transition: .2s;
        }

        ::placeholder{
                position: absolute;
                left: 30px;
                text-align: center;
                font-size: 12px;
                color: black;
                transition: .2s;
            }

        a {
            color: wheat;
        }

        p {
            color: white
        }

        button {
            border: none;
            padding: 10px;
            border-radius: 25px;
            cursor: pointer;
            background-color: beige;
        }

        /* .login_form.email_error{
            margin-top: 5px;
            width:345px;
            font-size: 18px;
            color: #c62828;
        }
        .login_form.pass_error{
            margin-top: 5px;
            width:345px;
            font-size: 18px;
            color: #c62828;
        } */
        input:valid+label,
        input:focus+label {
            background-color: transparent;
            color: white;
            transform: translate(2px, 8px);
            padding: 2px 5px;
            font-size: 12px;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <main>
        <header>
            <h4>Login</h4>
        </header>
        <form class="login_form" action="/userlogin" method="POST">
            <div class="form_design">
                <input type="text" placeholder="EMAIL" name="EMAIL">  
            </div>
            <!-- <div id="email_error">Please fill up your Email address</div> -->
            <div class="form_design">
                <input type="password" placeholder="Password" name="PASSWORD"> 
            </div>
            <!-- <div id="pass_error">Please fill up your password</div> -->
            <button>submit</button>
            <p>Not signed up?</p>
            <a href="/userSignUpform"> Sign Up!</a>
        </form>

    </main>

</body>

</html>